/*#js-local-stream{
    position: relative;
    width:10px;
}


#js-local-stream{
    z-index: 999999;
    position:absolute;
    width:50%;
}

#js-remote-streams{
    z-index: 99999999;
    position:relative;
    width:1080px;
}

#js-meta{
    font-size: 10px;
}
*/
/* #js-local-stream,#js-remote-stream{
    visibility:hidden;
} */

#r_img{
    position: absolute;
    visibility: hidden;
    z-index: -900;
}
body{
    background-color: #e0ffff;
}
#js-messages{
    text-align: center;
    position: absolute;
    overflow-y:scroll;
    overflow-x:hidden;
    height:450px;
    width:450px;
    font-size:18pt;
    top:100px;
    right:170px;
    z-index:-10;
}
#js-local-text{
    position:absolute;
    top: 5px;
    font-size: 24px;
    right:141px;
    width:25%
}
#js-send-trigger{
    position:absolute;
    top:5px;
    font-size:18px;
    right:82px;
}
#js-room-id{
    position:absolute;
    top: 0px;
    right:141px;
    font-size: 24px;
    right:141px;
    width:25%;
}
#js-join-trigger{
    position:absolute;
    top: 0px;
    right:82px;
    font-size: 18px;
    visibility: hidden;
}

#js-leave-trigger{
    position:absolute;
    top: 5px;
    font-size: 18px;
    right:22px;
    color:crimson
}

#js-meta,.note,#js-room-mode{
    position:absolute;
    right:-100%;
    font-size:0px;
}
#event,#ev_t,#atxt{
  visibility: hidden;
}
#menu_button,a{
  position:absolute;
  top:0px;
}
#loc_top{
  font-size: 25px;
}
#reg{
  position: absolute;
  top:10px;
}
#t_cok{
  position: absolute;
  top:40px;
}