/*#js-local-stream{
    position: relative;
    width:10px;
}


#js-local-stream{
    z-index: 999999;
    position:absolute;
    width:50%;
}

#js-remote-streams{
    z-index: 99999999;
    position:relative;
    width:1080px;
}

body{
    background-color: #e0ffff;
}

#js-meta{
    font-size: 10px;
}

#js-messages{
    text-align: center;
    position: absolute;
    overflow-y:scroll;
    height:450px;
    width:450px;
    font-size:18pt;
    top:100px;
    right:170px;
    z-index:-10;
}
#js-messages{
    overflow-x:hidden;
}:
#js-local-text{
    position:absolute;
    top: 35px;
    font-size: 24px;
    right:141px;
    width:25%
}
#js-send-trigger{
    position:absolute;
    top:35px;
    font-size:18px;
    right:82px;
}
#js-room-id{
    position:absolute;
    top: 0px;
    right:141px;
    font-size: 24px;
    right:141px;
    width:25%;
}
#js-join-trigger{
    position:absolute;
    top: 0px;
    right:82px;
    font-size: 18px;
}

#js-leave-trigger{
    position:absolute;
    top: 0px;
    font-size: 18px;
    right:22px;
}
*/
#js-meta,.note,#js-room-mode{
    position:absolute;
    font-size:0px;
}

